<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.base.member.MemberDAO">
  	<select id="getMemberLogin" parameterType="MemberVO" resultMap="MemberLogin" >
  		SELECT M.USERNAME,R.NUM,R.ROLENAME, M.PASSWORD
		FROM MEMBER M
			INNER JOIN 
			MEMBERROLE MR 
			ON (MR.USERNAME = M.USERNAME)
			INNER JOIN
			ROLE R
			ON(MR.NUM = R.NUM)
		WHERE M.USERNAME = #{username}
  		
  	</select>
  	
  	<resultMap type="MemberVO" id="MemberLogin">
  		<id column="USERNAME" property="username"/>
  		<result column="PASSWORD" property="password"/>
  		<result column="NAME" property="name"/>
  		
  		<collection property="roleVOs" javaType="List" ofType="RoleVO">
  			<id column="NUM" property="num"/>
  			<result column="ROLENAME" property="roleName"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="setMemberJoin" parameterType="MemberVO">
  		INSERT INTO MEMBER
  		VALUES (#{username},#{password},#{name},#{email},#{birth},1, now())
  	</insert>
  	
  	<insert id="setMemberRoleAdd" parameterType="Map">
  		INSERT INTO MEMBERROLE
  		VALUES(#{username},#{num})
  	</insert>
  	
  	<select id="idDuplicateCheck" resultType="MemberVO" parameterType="MemberVO">
  		SELECT USERNAME FROM MEMBER
  		WHERE USERNAME=#{username}
  	</select>
  	
  	<select id="getMemberAll" resultType="MemberVO">
  		SELECT * FROM MEMBER
  	</select>
  	
	<update id="setLogoutTime" parameterType="MemberVO">
		UPDATE MEMBER 
		SET LASTTIME=now()
		WHERE USERNAME=#{username}
	</update>

	<select id="setEnabled">
	<![CDATA[
		UPDATE MEMBER SET ENABLED=0
		WHERE LASTTIME <=  now()-INTERVAL 3 DAY
		]]>
	</select>
	
	<select id="getBirth" resultType="MemberVO">
		SELECT NAME FROM MEMBER
      	WHERE DATE_FORMAT(BIRTH, '%m-%d') = DATE_FORMAT(now(), '%m-%d')
	</select>
	
	<update id="setMemberPwChange" parameterType="MemberVO" >
		UPDATE MEMBER SET PASSWORD=#{password}
		WHERE USERNAME=#{username}
	</update>
  	
  </mapper>